# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock file
.terraform.lock.hcl

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log